* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    color: #fff;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    background-color: rgb(226, 240, 241);
}

h1,
h3,
ul {
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
    font-size: 400%;
}

h3 {
    font-weight: 300;
    font-size: 200%;
}

.contact,
.about,
.project {
    margin-top: 8vh;
    margin-bottom: 8vh;
}


/*************************************/


/****************** NAVBAR ******************/


/*************************************/

.navbar {
    height: 10vh;
}

.brand {
    color: rgb(142, 255, 237);
    font-size: 150%;
    font-weight: 600;
}

ul {
    list-style: none;
    display: inline-block;
    float: left;
    margin-top: 10px;
}

ul li {
    float: left;
    margin-right: 20px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgb(142, 255, 237);
    padding-bottom: 1px;
}

a:focus,
a:active {
    color: rgb(142, 255, 237);
    text-decoration: none;
}


/*************************************/


/****************** HOME ******************/


/*************************************/

.homepage {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6))), url(../resources/images/IMG_4133_meitu_1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../resources/images/IMG_4133_meitu_1.jpg);
    background-color: rgb(226, 240, 241);
    height: 90vh;
}

.job-title {
    margin-top: 30px;
}

.title {
    margin-bottom: 5%;
    margin-top: 5%;
}

.title span {
    color: rgb(142, 255, 237);
}


/*************************************/


/****************** PROJECTS *******************/


/*************************************/

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects div {
    padding: 0px;
}

.projects img:hover {
    border-bottom: 3px solid rgb(142, 255, 237);
}

.skill-list,
.skill-list li {
    float: none;
}

hr {
    color: rgb(142, 255, 237);
    border-top: 1px solid rgb(142, 255, 237);
}


/*************************************/


/******************CONTACT*******************/


/*************************************/

.form-control {
    border-radius: 0;
    padding: .6em;
    font-size: .8em;
    background-color: transparent;
}

.form-control:focus {
    border: 2px solid rgb(142, 255, 237);
}

.email {
    margin: 20px 10px 20px;
}

.contact-list {
    font-size: 2em;
    margin-left: 10px;
}

.btn-submit {
    border-radius: 0;
    border-color: rgb(142, 255, 237);
    background-color: transparent;
    color: rgb(142, 255, 237);
}
