* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    color: #fff;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    background-color: rgb(226, 240, 241);
}

h1,
h3,
ul {
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
    font-size: 2.3em;
}

h3 {
    font-weight: 300;
    font-size: 1.7em;
}

.contact,
.about,
.project {
    margin-bottom: 2rem;
}

ul {
    margin: 0px;
}


/*************************************/


/****************** NAVBAR ******************/


/*************************************/

.brand {
    color: rgb(142, 255, 237);
    font-size: 1.5em;
    font-weight: 600;
}

.nav-items {
    text-align: right;
}

ul {
    list-style: none;
    display: inline-block;
}

ul li {
    margin-right: 1rem;
    float: left;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgb(142, 255, 237);
    padding-bottom: 1px;
}

a:focus,
a:active {
    color: rgb(142, 255, 237);
    text-decoration: none;
}


/*************************************/


/****************** HOME ******************/


/*************************************/

.homepage {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../resources/images/IMG_4133_meitu_11.jpg");
    min-height: 90vh;
    position: relative;
}

.title {
    position: absolute;
    bottom: 3rem;
}

.title span {
    color: rgb(142, 255, 237);
}

.job-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


/*************************************/


/****************** PROJECTS *******************/


/*************************************/

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.projects div {
    padding: 0px;
}

.projects img:hover {
    border-bottom: 3px solid rgb(142, 255, 237);
}

.skill-list,
.skill-list li {
    float: none;
}

hr {
    color: rgb(142, 255, 237);
    border-top: 1px solid rgb(142, 255, 237);
    margin: 0px;
}


/*************************************/


/******************CONTACT*******************/


/*************************************/

.email-section {
    margin: 3rem 0 3rem;
}

.form-control {
    border-radius: 0;
    padding: .6em;
    font-size: .8em;
    background-color: transparent;
}

.form-control:focus {
    border: 2px solid rgb(142, 255, 237);
}

.email {
    margin: 1rem 0.5rem 1rem;
}

.contact-list {
    font-size: 2em;
    margin-left: 0.5rem;
}

.btn-submit {
    border-radius: 0;
    border-color: rgb(142, 255, 237);
    background-color: transparent;
    color: rgb(142, 255, 237);
}


/*************************************/


/******************footer*******************/


/*************************************/

footer {
    text-align: center;
}

footer p {
    margin: 0px;
}
