* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    color: #fff;
    font-size: 20px;
    background-color: rgb(226, 240, 241);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    font-family: 'Exo 2', sans-serif;
}

h1,
h3,
ul {
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
    font-size: 400%;
}

h3 {
    font-weight: 300;
    font-size: 200%;
}

.section-1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../resources/images/IMG_4133_meitu_1.jpg);
    background-color: rgb(226, 240, 241);
    height: 90vh;
}

.navbar {
    height: 10vh;
}

.navbar-light .navbar-brand {
    color: rgb(142, 255, 237);
    font-size: 150%;
    font-weight: 600;
}

.navbar ul li {
    margin-right: 30px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgb(142, 255, 237);
    padding-bottom: 1px;
}

a:focus,
a:active {
    color: aquamarine;
    text-decoration: none;
}

.title {
    margin-bottom: 5%;
    margin-top: 5%;
}

.title span {
    color: rgb(142, 255, 237);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects div {
    padding: 0px;
}

.projects img:hover {
    border-bottom: 3px solid rgb(142, 255, 237);
}
