@media only screen and (min-width: 320px) and (max-width:415px) and (orientation: portrait) {
    .homepage {
        background-position: -1.5rem;
    }
    .nav-items {
        text-align: left;
    }
}

@media only screen and (min-width: 416px) and (max-width:769px) and (orientation: portrait) {
    body {
        font-size: 23px;
    }
    .homepage {
        background-position: -1.5rem;
    }
    .title {
        top: 2rem;
        right: -8rem;
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    body {
        min-width: 100%;
    }
    .title {
        left: 13rem;
    }
}

@media only screen and (min-width: 569px) and (max-width: 736px) and (orientation: landscape) {
    body {
        min-width: 100%;
    }
    .homepage {
        min-height: 90vh;
    }
    .title {
        left: 20rem;
    }
    .contact,
    .email-section {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 737px) and (max-width: 991px) and (orientation: landscape) {
    body {
        font-size: 18px;
    }
    .title {
        left: 9rem;
    }
    .title h1 {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    body {
        font-size: 20px;
    }
    .title {
        left: 10rem;
        bottom: 8rem;
    }
    .title h1 {
        font-size: 6rem;
    }
    .homepage {
        min-height: 95vh;
    }
}

@media only screen and (min-width: 1201px) and (orientation: landscape) {
    body {
        font-size: 26px;
    }
    .title {
        left: 6rem;
        bottom: 8rem;
    }
    .title h1 {
        font-size: 6rem;
    }
    h1 {
        font-size: 4rem;
    }
    .homepage {
        min-height: 95vh;
    }
}
