
<div class="container-fluid homepage">
    <div class="row">
        <div class="col-md-7 offset-md-5 col-sm-6 offset-sm-6 title">
            <h1>I<span>'</span>m</h1>
            <h1>Chelsea</h1>
            <h1>Li<span>.</span></h1>
            <h3 class="job-title">Junior Web Developer</h3>
        </div>
    </div>
</div>
